name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/neutron
          ref: ded5d1fd4a30968f9db53f8ce750c617211e7b14 # stable/2025.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/neutron-dynamic-routing
          ref: 229ef20405f7767ebcb7a4e865ee11f874026306 # stable/2025.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/neutron-vpnaas
          ref: 7fbb8f3fa469d831beee216dae1c1829f0173be5 # stable/2025.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/networking-baremetal
          ref: 26e27854cba1e6c9134783161ca7818628d550cb # stable/2025.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/networking-generic-switch
          ref: 86d0716396b15824c01213cdec341e44e294d5a6 # stable/2025.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: vexxhost/neutron-policy-server
          ref: a215317bfa147f29dd4e85ff96a54982384c8ba1 # main

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: vexxhost/neutron-ovn-network-logging-parser
          ref: 3895d8f9d004e612c71b4f798d31c758e113946b # main

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/tap-as-a-service
          ref: b8f9c627fb45b4b3af0dd26c632de9341299531c # stable/2025.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: vexxhost/atmosphere
          ref: stable/2025.2
          path: vexxhost/atmosphere

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: neutron
          build-contexts: |
            neutron=openstack/neutron
            neutron-dynamic-routing=openstack/neutron-dynamic-routing
            neutron-vpnaas=openstack/neutron-vpnaas
            networking-baremetal=openstack/networking-baremetal
            networking-generic-switch=openstack/networking-generic-switch
            neutron-policy-server=vexxhost/neutron-policy-server
            neutron-ovn-network-logging-parser=vexxhost/neutron-ovn-network-logging-parser
            tap-as-a-service=openstack/tap-as-a-service
            ovsinit-src=vexxhost/atmosphere/crates/ovsinit
          push: ${{ github.event_name != 'pull_request' }}
