name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/neutron
          ref: 1850445cc95869cf1670f4425bafb077f04dd1e1 # stable/2024.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/neutron-dynamic-routing
          ref: 1d3ecd2cf3ebc82267406d59e06f3f3b97ffdcd4 # stable/2024.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/neutron-vpnaas
          ref: 11ffc53800e528d0b0544f7467a7487e0822bd3f # stable/2024.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/networking-baremetal
          ref: 1fba63ce21619d3fe70117c6679e53629c612bc1 # stable/2024.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/networking-generic-switch
          ref: a6ad4a1a031a4ef9c5bb7f824f2414459dab2d5d # stable/2024.2

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: vexxhost/neutron-policy-server
          ref: a215317bfa147f29dd4e85ff96a54982384c8ba1 # main

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: vexxhost/neutron-ovn-network-logging-parser
          ref: 3895d8f9d004e612c71b4f798d31c758e113946b # main

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: vexxhost/atmosphere
          ref: stable/2024.2
          path: vexxhost/atmosphere

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: neutron
          build-contexts: |
            neutron=openstack/neutron
            neutron-dynamic-routing=openstack/neutron-dynamic-routing
            neutron-vpnaas=openstack/neutron-vpnaas
            networking-baremetal=openstack/networking-baremetal
            networking-generic-switch=openstack/networking-generic-switch
            neutron-policy-server=vexxhost/neutron-policy-server
            neutron-ovn-network-logging-parser=vexxhost/neutron-ovn-network-logging-parser
            ovsinit-src=vexxhost/atmosphere/crates/ovsinit
          push: ${{ github.event_name != 'pull_request' }}
