name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: openstack/neutron
          ref: 46f4ef447537d80bff2bb64da6a61fff40e8fcc3

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: openstack/neutron-dynamic-routing
          ref: 4f6b9f262f44d532b8120507eef688c57cf28ec1

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: openstack/neutron-vpnaas
          ref: 8655ef2b0f95a600639636665dd4b83b0a107bc7

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: openstack/networking-baremetal
          ref: 8dc6edadce564ad4896ecfd5d2bca68396d1d7e6

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: openstack/networking-generic-switch
          ref: dc142ec17910ebb0855f9cc21b77af2c554a7bbe

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: vexxhost/neutron-policy-server
          ref: a215317bfa147f29dd4e85ff96a54982384c8ba1

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: vexxhost/neutron-ovn-network-logging-parser
          ref: 3895d8f9d004e612c71b4f798d31c758e113946b

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: openstack/tap-as-a-service
          ref: 7fb35455e056b08088291e048b35c185b2f8f208

      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@2024.1
        with:
          repository: vexxhost/atmosphere
          ref: stable/2024.1
          path: vexxhost/atmosphere

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@2024.1
        with:
          image-name: neutron
          build-contexts: |
            neutron=openstack/neutron
            neutron-dynamic-routing=openstack/neutron-dynamic-routing
            neutron-vpnaas=openstack/neutron-vpnaas
            networking-baremetal=openstack/networking-baremetal
            networking-generic-switch=openstack/networking-generic-switch
            neutron-policy-server=vexxhost/neutron-policy-server
            neutron-ovn-network-logging-parser=vexxhost/neutron-ovn-network-logging-parser
            tap-as-a-service=openstack/tap-as-a-service
            ovsinit-src=vexxhost/atmosphere/crates/ovsinit
          push: ${{ github.event_name != 'pull_request' }}
